<app-admin-navbar></app-admin-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-2 m-2">
                <div class="col col-12 col-sm-12 col-md-612 col-lg-12 col-xl-12 col-xxl-12 mb-2 text-center">
                    <h4>All Tasks</h4>
                </div>
                <div class="col col-12 col-sm-12 col-md-612 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Email</th>
                                <th>Mobile No</th>
                                <th>Task</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of data">
                                <td>{{i.name}}</td>
                                <td>{{i.designation}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.mobile_no}}</td>
                                <td>{{i.task}}</td>
                                <td>{{i.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                
                </div>
            </div>
        </div>
    </div>
</div>
